@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta {
    padding: 1.5rem;
    color: v.$blanco;
    width: 100%;
    display: block;
    margin-bottom: 2rem;

    &.error {
        background-color: lighten(v.$rojo, 50%);
        border-left: 4px solid v.$rojo;
        color: v.$rojo;
    }

    &.exito {
        background-color: lighten(v.$verde, 50%);
        border-left: 4px solid v.$verde;
        color: v.$verde;
    }
}